starlette
uvicorn[standard]
requests
dadaptation
wandb
pyngrok
pycloudflared
scipy
came-pytorch
#lycoris-lora==3.0.1.dev10
lycoris-lora
#pytorch_optimizer==3.1.2
pytorch_optimizer
wheel
# fork
# triton
